@import "../Colors";

@font-face {
  font-family: Geogrotesque;
  src: url('../../assets/fonts/Geogtq-Rg.otf');
}

@font-face {
  font-family: GeogrotesqueBold;
  src: url('../../assets/fonts/Geogtq-Bd.otf');
}

@font-face {
  font-family: GeogrotesqueSemiBold;
  src: url('../../assets/fonts/Geogtq-Md.otf');
}

@font-face {
  font-family: RobotoMono;
  src: url('../../assets/fonts/RobotoMono-Medium.ttf');
}


.timeline-chart-wrapper {
  background: $darkBackground;
  color: $white;
  display: flex;
  font-family: Geogrotesque, serif;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.2s ease-out 0.2s;
}
