@import "../../../../assets/colors";

.share-buttons {
  display: flex;
  flex-direction: column;
  .share-button {
    align-items: center;
    display: flex;
    margin: 5px 0;
  }
  .limited-text {
    max-width: 57px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .icon {
    margin-right: 4px;
    padding: 0 6px;
  }

  svg {
    height: 17px;
    width: 12px;
  }

  path {
    stroke: $white;
    fill: $white;
    transform: translate(-5px, -4px) scale(0.8);
  }

  &.vertical,
  &.dark-icons {
    path {
      stroke: $buttonGrey;
      fill: $buttonGrey;
    }
  }
  &.dark-icons {
    .share-button {
      margin: 0;
    }
    .icon {
      padding-left: 0;
    }
  }

  &.vertical-black {
    width: 100%;
    justify-content: space-around;
  }
  &.vertical-black .share-button {
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0 4px;
    .icon {
      margin: 0;
    }
  }

  &.vertical-black,
  &.vertical {
    flex-direction: row;
    .icon {
      padding: 0 2px;
    }
  }
  &.vertical .icon + span {
    display: none;
  }
}




