{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    [
      "react-css-modules",
      {
        "filetypes": {
          ".scss": "postcss-scss"
        }
      }
    ],
    "transform-function-bind",
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "lodash",
      {
        "id": [
          "lodash",
          "recompose",
          "react-router-dom"
        ]
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "development": {
      "plugins": [
        "flow-react-proptypes",
        "react-hot-loader/babel"
      ]
    }
  }
}
