@import "../../../../assets/Colors";

.tooltip-content {
  background: #F2F2F2;
  border-radius: 4px;
  color: $buttonGrey;
  border: 1px $buttonGrey solid;
  background: $white;
  .title {
    font-family: geogrotesque, serif;
    font-weight: bold;
  }
  font-size: 12px;
  padding: 8px 12px;
  white-space: nowrap;

  .tooltip-event-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  b {
    font-family: geogrotesque, serif;
    font-weight: bold;
    font-size: 18px;
  }

  .content {
    margin: 4px 0
  }
}
