@import "../../Colors";

.timeline-control-block {
  border-right: 1px solid $buttonGrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .circle-stats-block {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    max-height: 110px;
    transition: max-height 0.5s linear;
    &.stats-hidden {
      max-height: 0;
      position: absolute;
    }
    & > span {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .circle-block {
      text-align: center;
      width: 75px;
    }

    .stats-block {
      margin-right: 6px;
      white-space: nowrap;

      .buttoned-item {
        display: flex;
        margin: 5px 0;
        align-items: stretch;
        border-radius: 4px;
        overflow: hidden;

        & > span {
          align-items: center;
          background: $buttonGrey;
          cursor: pointer;
          display: flex;
          padding: 5px;
          &:hover {
            background: #4a4a4b;
          }
        }

        .icon {
          margin-right: 2px;
          padding: 0;
          padding-left: 7px;
          padding-right: 5px;
          svg {
            height: 17px;
            width: 12px;
          }

          path {
            stroke: $white;
            fill: $white;
          }
        }
      }
    }
  }
}
