@import "../../../assets/Colors";

:global {
  html, body {
    margin: 0;
    padding: 0;
  }
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toolbar {
  height: 100px;
  background-color: black;
  color: white;
  display: flex;
  //align-content: center;
  align-items: center;
}

.simulation-chart {
  flex: 1;
}

.version {
  display: block;
  position: fixed;
  font-size: 25px;
  font-family: sans-serif;
  right: 5px;
  bottom: 5px;
  background: white;
  color: black;
}

.button {
  margin: 8px;
  padding: 4px;
  border-radius: 1px;
  background: white;
  font-weight: bold;
  border-width: 1px;
  cursor: pointer;
  &:hover {
    background: #e0e0e0;
  }
}

.demo-buttons {
  margin: 4px;
  border: dashed 0.5px #b4b4b4;
}

@font-face {
  font-family: 'GeogRg';
  src: url('../../../assets/fonts/Geogtq-Rg.otf') format('opentype');
}

@font-face {
  font-family: 'GeogMd';
  src: url('../../../assets/fonts/Emtype Foundry - Geogrotesque Medium.otf') format('opentype');
}

@font-face {
  font-family: 'GeogLg';
  src: url('../../../assets/fonts/Geogtq-Lg.otf') format('opentype');
}

@font-face {
  font-family: 'GeogLt';
  src: url('../../../assets/fonts/Emtype Foundry - Geogrotesque Light.otf') format('opentype');
}

@font-face {
  font-family: 'GeogSb';
  src: url('../../../assets/fonts/geogrotesque-semibold-webfont.ttf') format('opentype');
}

@font-face {
  font-family: 'PT Mono Bold';
  src: url('../../../assets/fonts/PT Mono Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../../../assets/fonts/Inconsolata.otf') format('opentype');
}

@font-face {
  font-family: 'Gilroy-Black';
  src: url('../../../assets/fonts/Radomir Tinkov - Gilroy-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../../../assets/fonts/Radomir Tinkov - Gilroy-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('../../../assets/fonts/Radomir Tinkov - Gilroy-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('../../../assets/fonts/Radomir Tinkov - Gilroy-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../../../assets/fonts/Radomir Tinkov - Gilroy-Medium.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css?family=PT+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

.section,
.toolbar-header {
  font-family: 'Gilroy-Medium';
  margin-left: 20px;
}

.section {
  vertical-align: middle;
  line-height: 23px;
  font-size: 14px;
}
