@import "../../../assets/Colors";

.version {
  display: block;
  position: fixed;
  font-size: 25px;
  font-family: sans-serif;
  right: 5px;
  bottom: 5px;
  background: white;
  color: black;
}

.button {
  margin: 8px;
  padding: 4px;
  border-radius: 1px;
  background: white;
  font-weight: bold;
  border-width: 1px;
  cursor: pointer;
  &:hover {
    background: #e0e0e0;
  }
}

.demo-buttons {
  margin: 4px;
  border: dashed 0.5px #b4b4b4;
}
