@import "../../../assets/colors";

:global {
  .cluster-labels {
    font-family: 'Roboto', sans-serif !important;
    fill: black;
    font-size: 18px;
    stroke: none;
    font-family: sans-serif;
    transform: translate(0, -5px)
  }
  .arrow-circle-text {
    fill: white;
    font-family: sans-serif;
    font-size: 10px;
    text-anchor: middle
  }

  .arrow-marker path {
    transform: translate(6.9px, 0);
    stroke-width: 1.2px!important;
    fill: none;
  }
  #blue-arrow path {
    stroke: $blue;
  }
  #black-arrow path {
    stroke: $black;
  }
  #red-arrow path {
    stroke: $red;
  }
  .arrow-line {
    .arrow {
      stroke-width: 1px;
      stroke: $red;
    }
    .arrow-circle {
      fill: $red;
    }
    &.is-compromised .arrow {
      stroke-width: 2.2px;
    }
    &.is-blue {
      .arrow {
        stroke: $blue
      }
      .arrow-circle {
        fill: $blue;
      }
    }
    &.is-black {
      .arrow {
        stroke: $black
      }
      .arrow-circle {
        fill: $black;
      }
    }
  }

  .arrow-highlight {
    opacity: 0;
    stroke: black;
    stroke-width: 3px;
  }
  rect.cluster {
    fill: white;
  }
  .cluster-group.active {
    rect.cluster {
      stroke-width: 2px;
      stroke: #252525;
    }
  }

  .test {
    width: 100px;
    height: 100px;
  }

  .node {
    fill: transparent;
    cursor: pointer;

    .icons {
      fill: $grey;
    }

    .content {
      fill: #fff;
    }

    .wrapper {
      rect {
        stroke: none;
        fill: none;
      }

      &.is-selected {
        rect {
          stroke: $black;
        }
      }
    }

    .visible-large,
    .visible-small {
      visibility: hidden;
    }

    &.is-small {
      .visible-small {
        visibility: visible;
      }
    }

    &:not(.is-small) {
      .visible-large {
        visibility: visible;
      }
    }

    .outerHover,
    .innerHover {
      stroke: transparent;
    }

    .content {
      stroke: $black;
      stroke-width: 0.73
    }

    &.is-data-discovered {
      .icons .data {
        fill: $black;
      }
    }
    &.is-device-discovered {
      .icons .device {
        fill: $black;
      }
    }

    &.is-network-discovered {
      .icons .network {
        fill: $black;
      }
    }


    &.is-discovered {
      .content {
        fill: $blue;
        stroke: $blue;
      }
    }

    &.is-compromised {
      .content {
        fill: $red;
        stroke: $red;
      }
    }

    &.is-discovered,
    &.is-compromised,
    &.is-starting-point {

      .icons {
        fill:  opacify($grey-light, 0);
      }

      &.is-data-discovered {
        .icons .data {
          fill: $white;
        }
      }

      &.is-device-discovered {
        .icons .device {
          fill: $white;
        }
      }

      &.is-network-discovered {
        .icons .network {
          fill: $white;
        }
      }
    }

    &.is-starting-point {

      .content {
        fill: $red;
        stroke: $red;
      }

      .outerHover {
        stroke: rgba(242, 30, 39, 0.12);
      }

      .innerHover {
        stroke: rgba(242, 30, 39, 0.25);
      }
    }
  }

  .icons {
    circle {
      visibility: hidden;
    }
    &.icons-visible {
      path {
        visibility: hidden;
      }
      circle {
        visibility: visible;
      }
    }
  }
}

.zoom-rect {
  fill: black;
  opacity: 0;
  cursor: move;
}

.clusters-wrapper {
  fill: none;
  stroke: #efefef;
  stroke-width: 1px;
}

.share-buttons {
  position: absolute;
  top: 30px;
  left: 0;
  color: $black;
}
