$white: #fff;
$black: #000;
$red: rgb(242, 30, 39);
$blue: rgb(70, 96, 223);
$grey: #E6E6E6;
$grey-light: rgba(230, 230, 230, 0.4);

.inner-content {
  position: relative
}

.node-tooltip {
  position: absolute;
  pointer-events: none;
  display: none;
  z-index: 10;
}

.node-information {
  pointer-events: all;
  background: $white;
  border: solid$black 1.5px;
  border-radius: 4px;
  padding: 4px;
  padding-bottom: 6px;
  margin-left: 98px;
  display: inline-block;
  margin-bottom: -13px;
  font-family: sans-serif;
  font-size: 10px;
}

.grid-overflow-wrapper {
  position: relative;
  overflow: hidden
}

:global {
  .node {
    fill: transparent;

    .icons {
      fill: $grey;
    }

    .wrapper {
      rect {
        stroke: $white;
        fill: $white;
      }

       &.is-selected {
        rect {
          stroke: $black;
        }
      }
    }

    .visible-large,
    .visible-small {
      visibility: hidden;
    }

    &.is-small {
      .visible-small {
        visibility: visible;
      }
    }

    &:not(.is-small) {
      .visible-large {
        visibility: visible;
      }
    }

    .outerHover,
    .innerHover {
      stroke: transparent;
    }

    .content {
      stroke: $black;
    }

    &.is-data-discovered {
      .icons .data {
        fill: $black;
      }
    }

    &.is-device-discovered {
      .icons .device {
        fill: $black;
      }
    }

    &.is-network-discovered {
      .icons .network {
        fill: $black;
      }
    }

    &.is-discovered {
      .content {
        fill: $blue;
        stroke: $blue;
      }
    }

    &.is-compromised {
      .content {
        fill: $red;
        stroke: $red;
      }
    }

    &.is-discovered,
    &.is-compromised {
      .icons {
        fill: $grey-light;
      }

      &.is-data-discovered {
        .icons .data {
          fill: $white;
        }
      }

      &.is-device-discovered {
        .icons .device {
          fill: $white;
        }
      }

      &.is-network-discovered {
        .icons .network {
          fill: $white;
        }
      }

      &.is-starting-point {
        .outerHover {
          stroke: rgba(242, 30, 39, 0.12);
        }

        .innerHover {
          stroke: rgba(242, 30, 39, 0.25);
        }
      }
    }
  }

  .icons {
    &.is-icon {
      path {
        visibility: hidden;
      }
    }

    &.is-dot {
      circle {
        visibility: hidden;
      }
    }
  }
}
