@import "../../../../assets/colors";

.current-time {
  width: 117px;
  text-align: center;
}

.current-time-value {
  font-family: 'GeogLt', sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.current-time-legend {
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  font-family: 'GeogSb', sans-serif;
  font-weight: bold;
  font-size: 10px;
  width: 82px;
  margin: auto;
}

