@import "../../../../../assets/colors";

.axis {
  path, line {
    pointer-events: none;
    stroke: #3D3D3D;
  }
  &.axis--y .tick {
    opacity: 0.3;
    &:hover {
      opacity: 1
    }
  }

  text {
    fill: #5B5B5B;
  }

  .extra-white line {
    stroke: white
  }

  .extra-white,
  &.axis--x {
    text {
      fill: white;
    }
  }
  &.axis--x line,
  &.axis--x path,
  &.axis--y path {
    display: none
  }
}

.axis--x text {
  font-size: 8px;
}
