@import "../../../../assets/colors";

$buttonWidth: 50px;
$halfWidth: 30px;

.right-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $buttonWidth;
  align-items: center;
}

.no-top-border .square-button {
  border-top: none;
  svg {
    transition: transform 0.3s ease-out;
  }
}

.small-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  &.is-toggled {
    height: 50px;
    > div {
      flex-direction: row;
    }
  }
  .text-shifted-to-top .square-button span {
    display: block;
    margin-top: -4px;
    .square-button {
      width: $halfWidth*0.65;
      height: $halfWidth*0.65;
    }
  }
  .square-button {
    width: $halfWidth;
    height: $halfWidth;
    font-size: 25px;
    font-weight: 200;
    padding: 0;
    svg {
      width: 13px;
    }
  }
  > div {
    display: flex;
    min-height: 10px;
    flex-direction: column;
  }
}

.is-toggled .square-button svg {
  transform: rotate(180deg);
}

.square-button {
  background: $buttonGrey;
  border: 1px solid $buttonBorder;
  color: $white;
  cursor: pointer;
  height: $buttonWidth;
  width: $buttonWidth;
  &[disabled]:not(.active) {
    cursor: not-allowed;
    background: $disabledButton;
    span {
      opacity: 0.5;
    }
  }
  &:hover:not(.no-hover):not([disabled]), &.active {
    background: $buttonBlue;
    border-color: $buttonBlue;
  }
  &:focus {
    outline: none;
  }
  svg {
    width: 23px;
  }

  path {
    stroke: $white;
    stroke-width: 0;
    fill: $white;
  }
}
