@import "../../../../assets/colors";

.quick-information {
  font-family: 'GeogSb', sans-serif;
  font-size: 13px;
  padding: 16px;
  width: 330px;
  max-height: calc(100% - 60px);
  overflow: auto;
  position: absolute;
  z-index: 11;
  right: 16px;
  top: 16px;
  border-radius: 4px;
  background: white;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.085);
  .header-with-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    .grey-small-text {
      color: #bfbcbc;
      font-size: 12px;
      font-family: 'GeogLt', sans-serif;
      margin-bottom: 4px;
    }
  }
  .name {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  b {
    line-height: 25px;

    &.header {
      font-size: 16px;
      &.red {
        color: $red
      }
      &.blue {
        color: $blue
      }
    }
  }
  b + span {
    word-break: break-all;
    font-family: sans-serif;
  }
  hr {
    opacity: 0.3;
    margin: 16px -16px;
  }
  .cluster-icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    svg {
      width: 30px;
      height: 30px;
    }
    > div {
      padding: 8px;
      width: 24%;
      font-size: 14px;
      border-radius: 2px;
      border: 2px solid #f1f1f1;
      text-align: center;
    }
  }
  .arrow-stats, .cluster-stats {
    > div {
      margin: 0 -16px;
      padding: 8px 16px;
      display: flex;
      justify-content: space-between;
    }
  }
  .arrow-stats {
    margin-top: -16px;
    margin-bottom: 16px;
    > div:nth-of-type(2n) {
      background: #f2f2f2;
    }
  }
  .cluster-stats {
    margin-top: 16px;
    margin-bottom: -16px;
    > div:nth-of-type(2n - 1) {
      background: #f2f2f2;
    }
  }
  .block-method-button {
    padding: 8px;
    border: 1px solid black;
    text-align: center;
    &:hover {
      background: black;
      color: white;
      cursor: not-allowed;
    }
  }
}

.unknown {
  font-weight: bold;
  font-size: 19px;
  color: red;
}

.resize-icon {
  cursor: pointer;
  svg {
    width: 40px;
    height: 40px;
  }
}

.lines {
  > div {
    display: flex;
    justify-content: space-between;
  }
}

.event-state-icons {
  display: flex;
  margin-top: -14px;
  svg {
    opacity: 0.3;
    width: 30px;
    height: 30px;
  }
  .icon-active {
    svg {
      opacity: 1;
    }
  }
}
