$white: #fff;

$red: rgb(242, 30, 39);
$blue: rgb(70, 96, 223);

$black: #000;
$black-light: #252525;
$black-disabled: #2c2c2c;
$black-border: #3c3c3c;
$black-background: #141414;

$grey: #E6E6E6;
$grey-light: rgba(255, 255, 255, 0.4);

