@import "../../../../assets/colors";

.node-tooltip {
  position: fixed;
  pointer-events: none;
  display: block;
  z-index: 10;
}

.node-information {
  pointer-events: all;
  background: $white;
  padding: 5px 11px;
  &.dark {
    background: #282828;
    color: $white;
  }
  white-space: nowrap;
  border: solid $black 1.5px;
  border-radius: 4px;
  margin-left: 54px;
  display: inline-block;
  margin-bottom: -13px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  position: relative;
}

.tooltip-svg {
  display: block;
  width: 55px;
  height: 37.5px;
  line {
    stroke: #7c7c7c;
    stroke-width: 1px;
  }
}
