@import "../../../../assets/colors";

svg.timeline-chart {
  display: block;
  width: 100%;

  text {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 9px;
  }

  &.toggled {
    .small-line {
      height: 7px;
      width: 2px;
      transform: translateY(-4px);
    }
    .brush-group-wrapper {
      transform: translate(15px, 73px);
    }
    .brush-line {
      transform: translate(15px, 26px);
    }
    .black-line-between-x-axes {
      visibility: hidden;
    }
    .black-background {
      fill: #252525;
      transform: translateY(50px)
    }
    .main-group {
      transform: translate(15px, 70px);
    }
  }

  .small-line {
    height: 10px;
    width: 2px;
    stroke-width: 5;
    stroke: white;
    stroke-opacity: 0;
    transform: translateY(-5px);
    &:hover {
      width: 6px;
      transform: translate(-2.5px, -14px);
      height: 30px;
    }
  }

  .black-background {
    fill: $darkBackground
  }

  .brush-circle {
    &:hover {
      cursor: pointer;
      opacity: 0.7
    }
    stroke: #7D92F6;
    stroke-width: 1;
    //pointer-events: none;
    transform: translate(-6.5px, -5px);
    fill: $buttonBlue;
  }
}

.red-bulk-circle {
  cursor: pointer;
}

.line-path {
  stroke: white;
  stroke-width: 1;
  fill: none;
}

.brush-line {
  pointer-events: none;
  fill: $darkBackground;
  transform: translate(30px, 15px);
}

.brush-line-group {
  transform: translate(0, 40px);
}

.small-rects {
  transform: translate(0, -5px);
}

.main-group {
  flil: white;
  transform: translate(30px, 30px);
}

.brush-group-wrapper {
  transform: translate(30px, 55px);
}

.black-line-between-x-axes {
  fill: $buttonGrey;
}

.root {
  position: relative;
  width: 100%
}

$radius: 8px;

.circle-group-wrapper {
  transform: translateX(1px);
  cursor: pointer;
  .white-shadow-rect {
    fill: #EB001E;
    transform: translateX(-$radius + -1px)
  }
  .circle-wrapper {
    fill: #252525;
    stroke: #EB001E;
    stroke-opacity: 0.3;
    stroke-width: 4px;
    &.no-value {
      stroke-opacity: 1;
      stroke-width: 2px;
    }
  }
  .circle-text {
    cursor: pointer;
    font-size: 11px;
    text-anchor: middle;
    transform: translate(0, 3.5px);
  }
  .red-bulk-line {
    width: 2px;
    transform: translate(-$radius / 8, $radius - 1px);
    pointer-events: none;
  }
  .red-bulk-circle,
  .red-bulk-line {
    fill: $chartRed
  }
}
