@import "../../../../assets/colors";

svg.timeline-chart {
  display: block;
  width: 100%;

  text {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 9px;
  }

  &.toggled {
    .small-line {
      height: 7px;
      width: 2px;
      transform: translateY(-4px);
    }
  }

  .small-line {
    height: 10px;
    width: 2px;
    stroke-width: 5;
    stroke: white;
    stroke-opacity: 0;
    transform: translateY(-5px);
    &:hover {
      width: 6px;
      transform: translate(-2.5px, -14px);
      height: 30px;
    }
  }
  .red-bulk-line {
    width: 2px;
    dx: -1px;
    pointer-events: none;
  }

  .black-background {
    fill: #141414
  }
  .toggled-background {
    fill: #252525;
    height: 50px;
    y: 50px;
  }

  .red-bulk-circle,
  .red-bulk-line {
    fill: $chartRed
  }

  .circle-text {
    cursor: pointer;
    font-size: 11px;
    text-anchor: middle;
  }

  .brush-circle {
    &:hover {
      cursor: pointer;
      opacity: 0.7
    }
    stroke: #7D92F6;
    stroke-width: 1;
    //pointer-events: none;
    transform: translate(-6.5px, -5px);
    fill: $buttonBlue;
  }
}

.red-bulk-circle {
  cursor: pointer;
}

.line-path {
  stroke: white;
  stroke-width: 1;
  fill: none;
}

.tooltip {
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: translate(-50%);
  z-index: 3;

  &.visible-tooltip {
    pointer-events: all;
  }

  &.bottom-triangle {
    transform: translate(-50%, -100%);
    margin-top: -6px;
  }

  &.bottom-triangle .triangle-wrapper {
    bottom: -8px;
    left: 0;
    position: absolute;
    right: 0;
    transform: rotate(180deg);
  }

  .triangle-wrapper {
    text-align: center;
    .triangle {
      border-color: transparent transparent $buttonGrey transparent;
      position: relative;
      border-style: solid;
      border-width: 0 9px 9px 9px;
      display: inline-block;
      height: 0;
      width: 0;
      &.triangle-content {
        position: absolute;
        top: 1px;
        left: -10px;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent $white transparent;
      }
    }
  }
}
