svg.timeline-chart {
  width: 100%;
  display: block;
  font-family: Arial;

  &.toggled {
    .blue-line,
    .red-line {
      width: 2px;
      height: 7px;
      dy: -2px;
    }
  }

  .blue-line, .red-line {
    width: 2px;
    height: 10px;
    pointer-events: none;
  }
  .red-bulk-line {
    dx: -1px;
    width: 2px;
    //pointer-events: none;
  }

  .blue-line {
    fill: #4660DF;
  }
  .black-background {
    fill: #141414
  }

  .red-bulk-circle,
  .red-bulk-line,
  .red-line {
    fill: #EB001E;
  }

  .axis {
    path, line {
      stroke: #3D3D3D;
      pointer-events: none;
    }
    &.axis--y .tick {
      opacity: 0.3;
      &:hover {
        opacity: 1
      }
    }

    text {
      fill: #5B5B5B;
    }

    .extra-white line {
      stroke: white
    }

    .extra-white,
    &.axis--x {
      text {
        fill: white;
      }
    }
    &.axis--x line,
    &.axis--x path,
    &.axis--y path {
      display: none
    }
  }

  .circle-text {
    text-anchor: middle;
    font-size: 11px;
    cursor: pointer;
  }

  .zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
  }

  .brush-circle{
    fill: #4660DF;
    &:hover {
      cursor: pointer;
      opacity: 0.7
    }
  }
}

.tooltip {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  &.visible-tooltip {
    pointer-events: all;
  }
  .data-wrapper {
    background: #F2F2F2;
    padding: 8px;
    border-radius: 2px;
    color: black;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
  }
  .triangle-wrapper {
    text-align: center;
    .triangle {
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent transparent #F2F2F2 transparent;
      border-width: 0 5px 5px 5px;
    }
  }
  transform: translate(-50%);
  &.bottom-triangle {
    transform: translate(-50%, -100%);
  }
  &.bottom-triangle .triangle-wrapper {

    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    transform: rotate(180deg);
  }
}

.red-bulk-circle {
  cursor: pointer;
}

.line-path {
  stroke: white;
  stroke-width: 1;
  fill: none;
}
